amqp==2.6.0
asgiref==3.2.3
authy==2.2.6
billiard==3.6.3.0
bitcoin==1.1.39
blockchain==1.4.4
blockcypher==1.0.80
celery==4.4.4
certifi==2019.11.28
chardet==3.0.4
defusedxml==0.6.0
diff-match-patch==20181111
Django==3.0
django-admin-rangefilter==0.5.2
django-cors-headers==3.2.0
django-import-export==2.0
django-modeladmin-reorder==0.3.1
djangorestframework==3.10.3
djangorestframework-simplejwt==4.4.0
ecdsa==0.15
enum-compat==0.0.3
et-xmlfile==1.0.1
future==0.18.2
gunicorn==20.0.4
idna==2.9
importlib-metadata==1.6.0
jdcal==1.4.1
kombu==4.6.10
MarkupPy==1.14
odfpy==1.4.0
openpyxl==3.0.2
pycoin==0.90.20200322
PyJWT==1.7.1
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.2
requests==2.23.0
six==1.14.0
sqlparse==0.3.0
tablib==0.14.0
urllib3==1.26.5
vine==1.3.0
websocket-client==0.57.0
xlrd==1.2.0
xlwt==1.3.0
zipp==3.1.0
