<!doctype html>
<html lang="en">
  <body>
<center>
    <center>
        <img src="{{image_url}}" style="width:100px"  alt=" " class="center">
         <!-- <img src="https://api.spendthebits.com/media/image/logo/LOGO_png.png" style="width:100px"  alt=" " class="center"> -->
<!-- <h3 style="font-family: Arial, Helvetica, sans-serif;">SPEND THE BITS</h3><br/>
     <p style="font-family: Arial, Helvetica, sans-serif;font-size: 15px;font-weight: 100;">Your email has been succesfully verified. <br/>Please continue in the app.</p>
    <br> -->
</center>
    <p> To reset password click below the below link.</p>
    
<br>
    <div class="text-center">
        <br>
        <a href="{{reset_password_url}}">
        <button style="color: white; background-color: green; border-radius: 6px; padding: 6px; padding-left: 8px; padding-right: 10px; border: 1px solid black">
            Click to create a new password
        </button>
    </a>
    </div>
<br>
    </center> 
    <p>P.S. - If you don't mean to reset your password, then you can just ignore this email, your password will not change</p>

</body>
</html>